@media screen and (max-width: 320px) {
  .profile {
    flex-direction: column;
    padding-top: 42px;
  }

  .profile__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding-bottom: 33px;
    padding-top: 30px;
  }

  .profile__title {
    font-size: 22px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
    padding: 0;
  }

  .profile__description {
    width: 100%;
    text-align: center;
    font-size: 14px;
    padding-top: 9px;
  }

  .profile__add-button {
    margin: 0;
    width: 100%;
  }

  .profile__edit-button {
    width: 18px;
    height: 18px;
    border: 1;
    padding: 0;
    margin: 4px 0 0 10px;
  }

  .header {
    padding-left: 27px;
  }

  .footer {
    margin-top: 48px;
    margin-bottom: 36px;
  }
  .footer__text {
    font-size: 14px;
  }
}
